.slide-example {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(255,255,255,0.8);

  &__container {

    position: absolute;
    width: 512px;
    height: 512px;
    left: 256px;
    top: 64px;

    box-shadow: 0 0 50px rgba(0,0,0,0.5);

    &_shadow_no {
      box-shadow: none;
    }

    svg {
      width: 100%;
      height: 100%;
      background: white;
    }

		&_full {
			width: 1024px;
			height: 640px;
			top: 0;
			left: 0;
		}

		&_1 {
			width: 256px;
			height: 256px;
			top: 192px;
			left: 192px;
		}

		&_2 {
			width: 128px;
			height: 128px;
			top: 320px;
			left: 512px;
		}

		&_3 {
			width: 64px;
			height: 64px;
			top: 384px;
			left: 704px;
		}

  }

}