@import "intro";
@import "main-heart";
@import "slide-example";
@import "prohibition-sign";

.slide {
  &:after {
    display: none;
  }
}

.slide a {
  text-shadow: 1px 0 white, -1px 0 white, -2px -1px white, 2px -1px white, -2px 1px white, 2px 1px white, 0 1px white, 0 -1px white, 0 -2px white, 0 -3px white;
  background: linear-gradient(to top, transparent 0.1em, currentcolor 0.1em, currentcolor 0.15em, transparent 0.15em, transparent) repeat-x;
}

.slide.shout a {
  text-shadow: 1px 0 #52a2df, -1px 0 #52a2df, -2px -1px #52a2df, 2px -1px #52a2df, -2px 1px #52a2df, 2px 1px #52a2df, 0 1px #52a2df, 0 -1px #52a2df, 0 -2px #52a2df, 0 -3px #52a2df;
  background: linear-gradient(to top, transparent 0.1em, currentcolor 0.1em, currentcolor 0.15em, transparent 0.15em, transparent) repeat-x;
}

.slide h3 {
  font: 48px/1 'Open Sans Light', sans-serif;
  margin-bottom: 48px;
}