.main-title {
  text-align: center;
  font-size: 180px;
  display: block;
  white-space: nowrap;
}
.main-title__space {
  overflow: hidden;
  display: inline-block;
  width: 126px;
}
.main-heart {
  display: inline;
  position: absolute;
  width: 180px;
  height: 180px;
}
.main-heart__icon {
  position: absolute;
  top: 6px;
  left: -90px;
  width: 100%;
  height: 100%;
  fill: white;
}
.main-heart__icon {
  -webkit-transition: fill 0.6s, -webkit-transform 0.6s;
          transition: fill 0.6s, transform 0.6s;
}
.main-heart__outline {
  fill: #52a2df;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.main-heart__pattern {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.main-heart__stripes {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: rotor;
          animation-name: rotor;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: red;
}
@-webkit-keyframes rotor {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotor {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-heart__trigger_scale.active ~ .main-heart__icon {
  -webkit-transform: scale(2, 2);
      -ms-transform: scale(2, 2);
          transform: scale(2, 2);
}
.main-heart__trigger_rotate.active ~ .main-heart__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-heart__trigger_color.active ~ .main-heart__icon {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  fill: red;
}
.main-heart__trigger_pattern.active ~ .main-heart__icon {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  fill: white;
}
.main-heart__trigger_pattern.active ~ .main-heart__icon .main-heart__pattern {
  opacity: 1;
}
.main-heart__trigger_white.active ~ .main-heart__icon {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  fill: white;
}
.main-heart__trigger_white.active ~ .main-heart__icon .main-heart__pattern {
  opacity: 0;
}
.broken-heart {
  display: inline;
  position: absolute;
  width: 180px;
  height: 180px;
}
.broken-heart__icon {
  position: absolute;
  top: 6px;
  left: -90px;
  width: 100%;
  height: 100%;
  fill: white;
}
.broken-heart-slide.active .broken-heart-slide__word_svg {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: brokenFadeOut;
          animation-name: brokenFadeOut;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes brokenFadeOut {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes brokenFadeOut {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.broken-heart-slide__word_fonts {
  position: absolute;
  left: 120%;
}
.broken-heart-slide.active .broken-heart-slide__word_fonts {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: brokenMoveLeft;
          animation-name: brokenMoveLeft;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes brokenMoveLeft {
  form {
    left: 120%;
  }
  to {
    left: 44%;
  }
}
@keyframes brokenMoveLeft {
  form {
    left: 120%;
  }
  to {
    left: 44%;
  }
}
.slide-example {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}
.slide-example__container {
  position: absolute;
  width: 512px;
  height: 512px;
  left: 256px;
  top: 64px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.slide-example__container_shadow_no {
  box-shadow: none;
}
.slide-example__container svg {
  width: 100%;
  height: 100%;
  background: white;
}
.slide-example__container_full {
  width: 1024px;
  height: 640px;
  top: 0;
  left: 0;
}
.slide-example__container_1 {
  width: 256px;
  height: 256px;
  top: 192px;
  left: 192px;
}
.slide-example__container_2 {
  width: 128px;
  height: 128px;
  top: 320px;
  left: 512px;
}
.slide-example__container_3 {
  width: 64px;
  height: 64px;
  top: 384px;
  left: 704px;
}
.prohibition-sign.active .prohibition-sign__shape {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: prohibition-fade-in;
          animation-name: prohibition-fade-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.prohibition-sign__text {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: 512px 320px;
      -ms-transform-origin: 512px 320px;
          transform-origin: 512px 320px;
}
@-webkit-keyframes prohibition-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 512px 320px;
            transform-origin: 512px 320px;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: 512px 320px;
            transform-origin: 512px 320px;
  }
}
@keyframes prohibition-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 512px 320px;
            transform-origin: 512px 320px;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: 512px 320px;
            transform-origin: 512px 320px;
  }
}
.slide:after {
  display: none;
}
.slide h2 a {
  text-shadow: 1px 0 #ffffff, -1px 0 #ffffff, -2px -1px #ffffff, 2px -1px #ffffff, -2px 1px #ffffff, 2px 1px #ffffff, 0 1px #ffffff, 0 -1px #ffffff, 0 -2px #ffffff, 0 -3px #ffffff;
  background: -webkit-linear-gradient(bottom, transparent 0.1em, currentcolor 0.1em, currentcolor 0.15em, transparent 0.15em, transparent) repeat-x;
  background: linear-gradient(to top, transparent 0.1em, currentcolor 0.1em, currentcolor 0.15em, transparent 0.15em, transparent) repeat-x;
}
