.main-title {
  text-align: center;
  font-size: 180%;
  display: block;
}
.main-heart {
  display: inline-block;
  position: relative;
  width: 170px;
  height: 170px;
}
.main-heart__icon {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 100%;
  fill: white;
  -webkit-transition: fill 0.6s, -webkit-transform 0.6s;
          transition: fill 0.6s, transform 0.6s;
}
.main-heart__outline {
  fill: #52a2df;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.main-heart__pattern {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.main-heart__stripes {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: rotator;
          animation-name: rotator;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: red;
}
@-webkit-keyframes rotator {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotator {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-heart__trigger_scale.active ~ .main-heart__icon {
  -webkit-transform: scale(2, 2);
      -ms-transform: scale(2, 2);
          transform: scale(2, 2);
}
.main-heart__trigger_rotate.active ~ .main-heart__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-heart__trigger_color.active ~ .main-heart__icon {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  fill: red;
}
.main-heart__trigger_pattern.active ~ .main-heart__icon {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  fill: white;
}
.main-heart__trigger_pattern.active ~ .main-heart__icon .main-heart__pattern {
  opacity: 1;
}
.main-heart__trigger_white.active ~ .main-heart__icon {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  fill: white;
}
.main-heart__trigger_white.active ~ .main-heart__icon .main-heart__pattern {
  opacity: 0;
}
.slide-example {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}
.slide-example__container {
  position: absolute;
  width: 512px;
  height: 512px;
  left: 256px;
  top: 64px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.slide-example__container_shadow_no {
  box-shadow: none;
}
.slide-example__container svg {
  width: 100%;
  height: 100%;
  background: white;
}
.slide-example__container_full {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slide-example__container_1 {
  width: 256px;
  height: 256px;
  top: 192px;
  left: 192px;
}
.slide-example__container_2 {
  width: 128px;
  height: 128px;
  top: 320px;
  left: 512px;
}
.slide-example__container_3 {
  width: 64px;
  height: 64px;
  top: 384px;
  left: 704px;
}
.prohibition-sign.active .prohibition-sign__shape {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: prohibition-fade-in;
          animation-name: prohibition-fade-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.prohibition-sign__text {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
@-webkit-keyframes prohibition-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
@keyframes prohibition-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
.slide:after {
  display: none;
}
